{% extends 'base.html.twig' %}

{% block title %}Contacts {% endblock %}

{% block main %}
	<div>
		{{ form_start(our_form)}}
		{{ form_widget(our_form)}}
		<button type="submit">Send</button>
		{{ form_end(our_form )}}
	

{% endblock %}
